{%include "header.html"%}
<!-- Main content -->
<div class="content-wrapper">
    <!-- Content area -->
    <div class="content">
  
      <!-- Dashboard content -->
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="panel panel-flat">
  
            <div class="panel-body">
  
              <fieldset class="content-group">
                <legend class="text-bold"><i class="icon-add"></i> Edit Kriteria</legend>

                <form class="form-horizontal" action="" method="post">
                  <div class="form-group">
                    <label class="control-label col-lg-3">Kriteria</label>
                    <div class="col-lg-9">
                      <input type="text" name="nama_kriteria" class="form-control" value="{{data.nama_kriteria}}" placeholder="{{data.nama_kriteria}}" maxlength="100" required>
                    </div>
                  </div>
  
                  <div class="form-group">
                    <label class="control-label col-lg-3">Bobot</label>
                    <div class="col-lg-9">
                      <input type="number" name="bobot" class="form-control" value="" placeholder="{{data.bobot_kriteria}}" maxlength="100" required>
                    </div>
                  </div>
  
                  <a href="{{url_for('kriteria')}}" class="btn btn-default">
                    << Kembali</a>
                      <button type="submit" name="btnsimpan" class="btn btn-success" style="float:right;">Simpan</button>
                </form>
  
              </fieldset>
  
  
            </div>
  
          </div>
        </div>
      </div>
      <!-- /dashboard content -->
{%include "footer.html"%}
