{%include "header.html"%}
            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Content area -->
                <div class="content">
                    <!-- Dashboard content -->
                    <div class="row">
                        <div class="col-md-12">


                            <div class="col-md-12">
                                <div class="alert alert-success" style="padding-bottom: 5px;">
                                    <h4 align="left" style="text-transform: uppercase;"> SELAMAT DATANG <b>
                                            <?php echo ucwords($nama); ?>
                                        </b> ANDA LOGIN SEBAGAI <strong>
                                            <?php echo ucwords($level); ?>
                                        </strong>
                                        <!-- <h4><?php var_dump($user->username);?></h4> -->
                                        </b>
                                    </h4>
                                </div>
                            </div>

                            <!-- Basic datatable -->
                            <!-- /dashboard content -->

{%include "footer.html"%}